@import "../lib/lib.less";

@import "ActivityPage.less";
@import "AvatarEditor.less";
@import "Composer.less";
@import "DiscussionHero.less";
@import "DiscussionList.less";
@import "DiscussionListItem.less";
@import "DiscussionPage.less";
@import "EditUserModal.less";
@import "Hero.less";
@import "IndexPage.less";
@import "LogInButton.less";
@import "LogInModal.less";
@import "NotificationGrid.less";
@import "NotificationList.less";
@import "NotificationsDropdown.less";
@import "Post.less";
@import "PostStream.less";
@import "Scrubber.less";
@import "SettingsPage.less";
@import "SignUpModal.less";
@import "Slidable.less";
@import "UserCard.less";
@import "UserPage.less";

.Dropdown-menu {
    .item-following, .item-tags, .item-allDiscussions, .item-subscription {
        display: none !important;
    }
}

.DiscussionList {
    position: relative;
    .Button.IndexPage-newDiscussion {
        position: absolute;
        top: -10px;
        right: -50px;
    }
}

.DiscussionPage-nav {
    .item-subscription {
        display: none !important;
    }
}

.IndexPage {
    .uxcomment {
        display: none !important;
    }
}

.IndexPage-nav {
    .item-newDiscussion {
        display: none !important;
    }
}

.App-navigation {
    .App-drawer {
        display: none !important;
    }
}

.App-drawer {
    .Navigation-pin {
        display: none !important;
    }
}
.uxcomment {
    color: red;
    background-color: yellow;
    padding-top: 5px;
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}

span.Avatar {
    display: none !important;
}