.DiscussionHero {
  position: fixed;
  z-index: 800;
  right: 0;
  left: 0;
  .badges {
    margin-right: 10px;
    margin-bottom: -2px;
    vertical-align: 2px;
  }
}


.DiscussionHero-items {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;

  .ReplyPlaceholder {
    display: none;
  }
  .Post-actions, .Post-header, .Post-footer, .PostStream-loadMore {
    display: none;
  }

  .item-post-control-edit {
    button {
      background-color: white;
      color: black;
    }
  }

  .CommentPost:not(.Post--hidden), .ReplyPlaceholder {
    padding: 0px 0px 0px 0px !important;
    min-height: 0px !important;
  }

  & > li {
    display: block;
  }

  & > li.item-controls {
      position: absolute;
      right: 0px;
      top: -6px;
    
  }
}


.DiscussionHero-author {
  &:before {
    content: "Posted by ";
  }
}

.DiscussionHero-StartingPost {
  margin-top: 8px;
  font-size: 18px;
}

h2.DiscussionHero-title {
  display: inline;
  vertical-align: middle;
  font-size: 15px;
  font-weight: bold;
}
