// ------------------------------------
// Sidebar

@media @desktop-up {
  .IndexPage-nav .item-newDiscussion {
    margin-bottom: 20px;

    .Button {
      .Button--block();
    }
  }
}


.IndexPage-FormFactorNotSupported {
  display: block;
  padding: 20px;
  font-size: 24px;
  color: red;
}
.IndexPage {
  display: none;
}

@media @desktop-hd {
  .IndexPage-FormFactorNotSupported {
    display: none;
  }
  .IndexPage {
    display: block;
  }
}




// ------------------------------------
// Results

.IndexPage-toolbar {
  display: none !important;
  margin-bottom: 15px;
}
.IndexPage-toolbar-view, .IndexPage-toolbar-action {
  display: inline-block;
  margin: 0;
  list-style: none;
  padding: 0;

  > li {
    display: inline-block;
  }
}
.IndexPage-toolbar-view > li {
  margin-right: 5px;
}
.IndexPage-toolbar-action {
  float: right;

  > li {
    margin-left: 5px;
  }
}
